body {
    padding: 0;
    margin: 0;
}

/*--- navigation bar ---*/

.navbar {
    background: #6ab446;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}

/* Title*/

.title h1 {
    color: #6ab446;
    padding: 1rem;
}

.title h3 {
    color: #6ab446;
    padding: 1rem;
}

.thc-container {
    padding-bottom: 1rem;
    padding-top: 1rem;
    background: #f2f6e9;
}

.tableFixHead {
    overflow-y: auto;
    height: 200px;
}

.tableFixHead table {
    border-collapse: collapse;
    width: 100%;
}

.tableFixHead th,
.tableFixHead td {
    padding: 8px 16px;
}

.tableFixHead th {
    position: sticky;
    top: 0;
    background: #eee;
}

.fa-cog {
    color: #ff8d13;
}

.warning {
    color: #ff8d13;
}

.thc-color {
    color: #6ab446;
}