<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-md mb-0 pt-0 pb-0">
        <a class="navbar-brand" href="#"> <img th:src="@{/img/loguito.png}" src="../static/img/loguito.png" alt=""></a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/index}">Home</a></li>
                <li class="nav-item">
                    <form method="post" th:action="@{/logout}" id="logout_form">
                        <a class="nav-link" href="#" id="logout-lnk">Cerrar Sesión</a>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div th:fragment="menu" id="accordion" class="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link thc-color" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    1. Ventas
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body pt-1 pb-1">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" class="list-group-item list-group-item-action"
                                                   th:href="@{/payments/report/go}">Cierre Ventas</a></li>
                </ul>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link thc-color" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    2. Stock e Inventarios
                </button>
            </h2>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body pt-1 pb-1">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" class="list-group-item list-group-item-action"
                                                   th:href="@{/stock/stock_verification}">Verificar Stock</a></li>

                </ul>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link thc-color" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    3. Productos
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body pt-1 pb-1">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" class="list-group-item list-group-item-action"
                                                   th:href="@{/products/details/search/init}">Buscar Productos</a>
                    </li>
                    <li class="list-group-item"><a href="#" class="list-group-item list-group-item-action"
                                                   th:href="@{/reparacion/tablero}">Ver Productos en Reparación </a>
                    </li>
                    <li class="list-group-item"><a href="#" class="list-group-item list-group-item-action"
                                                   th:href="@{/pedidos/tablero}">Ver Pedidos </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h2 class="mb-0">
                <button class="btn btn-link thc-color" type="button" data-toggle="collapse"
                        data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    4. Cobranzas
                </button>
            </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body pt-1 pb-1">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" class="list-group-item list-group-item-action"
                                                   th:href="@{/invoices/unpaid/report/go}">Ventas sin Entrega</a></li>
                    <li class="list-group-item"><a href="#" class="list-group-item list-group-item-action"
                                                   th:href="@{/collections/statistics}">Estadísticas</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFive">
            <h2 class="mb-0">
                <button class="btn btn-link thc-color" type="button" data-toggle="collapse"
                        data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    5. Proveedores
                </button>
            </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body pt-1 pb-1">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" class="list-group-item list-group-item-action"
                                                   th:href="@{/invoices/unpaid/report/go}">Ventas sin Entrega</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingSix">
            <h2 class="mb-0">
                <button class="btn btn-link thc-color" type="button" data-toggle="collapse"
                        data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    6. Reportes
                </button>
            </h2>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body pt-1 pb-1">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" class="list-group-item list-group-item-action"
                                                   th:href="@{/invoices/unpaid/report/go}">Ventas sin Entrega</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>